.free-download {
	background: $green;
	margin-bottom: 2rem;

	&.compact {
		// max-width: rem-calc(356px);
	}

	&.extended {
		@include breakpoint(small only) {
			// max-width: rem-calc(356px);
			// margin: 0 auto;
		}
	}

	.subtitle {
		display: block;
		font-weight: normal;
	}
}

.free-download-title {
	@extend .widget-title;
}

.free-download-form {
	// max-width: rem-calc(356px);
	background-image: url(../img/ebook-bg-small.jpg);
	background-position-y: 100%;
	background-position-x: center;
	background-size: cover;
	text-align: center;
	position: relative;
	@include responsive-padding($vpadding: 2rem 1rem);

	h2,
	p {
		text-shadow: 0px 0px 10px rgba(255, 255, 255, .75);
	}

	h2 {
		color: $green;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1;
	}

	p:not(.fineprint) {
		@include button-text;
		line-height: 1.25;
	}

	.fineprint {
		font-size: $small-font-size;
		line-height: 1.25;
		margin-bottom: 2rem;
		// background: $white;
	}

	form {
		padding: 0;
		.newsletter-signup {
			// margin-bottom: 0;
		}

	}

	.mc4wp-form input[type='text'], .mc4wp-form input[type='password'], .mc4wp-form input[type='email'] {
		display: block;
		width: 100%;
	}

	.extended & {
		display: table;
		.free-download-container {
		  display: table-cell;
		  vertical-align: middle;
		}
	}

	@include breakpoint(medium) {
		background-image: url(../img/ebook-bg.jpg);
		background-position-y: 0;
		h2 {
			color: $green;
			font-size: 3rem;
			font-weight: bold;
			margin-top:70px;
		}
		.fineprint {
			margin-bottom: 0;
		}
	}
}

.free-download-info {
	background: $green;
	color: $white;
	@include responsive-padding($vpadding: 1rem);

	@include breakpoint(medium) {
		@include responsive-padding($vpadding: 2rem);
		padding-left: 0 !important;
		.intro {
			font-size: 1.25rem;
		}
	}

	h2, .intro {
		text-align: center;
	}

	.subtitle {
		font-weight: bold;
		@include breakpoint(medium) {
			font-size: 1.5rem;
		}
	}


	h3 {
		margin-top: 2rem;
		font-size: 1rem;
		font-weight: bold;
	}

	
	.intro {
		margin-bottom: 0;
		@include breakpoint(large) {
			margin-bottom: 1rem;
		}
	}
	
}