#featured-hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
	height: rem-calc(200);
	height: 100vw;

	.home & {
		height: 90vh;
		max-height: 100vw;
	}

	.hero-text {
		overflow: auto;
		margin: auto;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		padding: 0 map-get($grid-column-gutter, small);
	}

	// }
	@include breakpoint(385) {
		.home & .hero-text {
			// padding: 0 15%;
			// bottom: 5%;
			// right: 15%;
		}
	}

	@include breakpoint(550) {
		.home & .hero-text {
			// padding: 0 25%;
			// bottom: 10%;
			// right: 25%;
		}
	}

	@include breakpoint(medium) {
		height: rem-calc(450);

		.hero-text {
			width: 40%;
			// height: 50%;
			// top: 0;
			left: map-get($grid-column-gutter, medium);
			right: auto;
			bottom: auto;
			top: auto;
			padding:  0;
			// background:red;

			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			resize: vertical;
			overflow: auto;

			.home & {
				// height: 65%;
				width: 47%;
				// overflow: visible;
				// padding: 0;
				padding-top: rem-calc(115px);
			}
		}
	}

	@include breakpoint(large) {
		height: rem-calc(570);

		.hero-text {
			left: map-get($grid-column-gutter, large);
			.home & {
				left: 7%;
				width: 40%;
			}
		}
	}

	@include breakpoint(xlarge) {
		.hero-text {
			left: map-get($grid-column-gutter, large) * 1.5;
			.home & {
				left: 10%;
				width: 37%;
				padding-top: rem-calc(70px);
			}
		}
	}

	@include breakpoint(xxlarge) {
		.hero-text {
			left: map-get($grid-column-gutter, large) * 2.5;
			.home & {
				left: 12%;
				width: 32%;
			}
		}
	}
}



