#featured-hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
	height: rem-calc(200);
	height: 100vw;

	.home & {
		// min-height: rem-calc(200);
		height: 90vh;
		max-height: 100vw;
	}

	.hero-text {
		overflow: auto;
		margin: auto;
		position: absolute;

		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		padding: 0 map-get($grid-column-gutter, small);

		border: 1px solid $light-gray;
	}

	// }
	@include breakpoint(385) {
		.home & .hero-text {
			// padding: 0 15%;
			// bottom: 5%;
			// right: 15%;
		}
	}

	@include breakpoint(550) {
		.home & .hero-text {
			// padding: 0 25%;
			// bottom: 10%;
			// right: 25%;
		}
	}

	@include breakpoint(medium) {
		height: rem-calc(450);

		.hero-text {
			width: 40%;
			height: 50%;
			top: 0;
			left: map-get($grid-column-gutter, medium);
			padding:  0;
			right: auto;
			// background:red;

			.home & {
				height: 65%;
				width: 49%;
				overflow: visible;
				padding: 0;
				// margin-top: rem-calc(115px);
			}
		}
	}

	@include breakpoint(large) {
		height: rem-calc(570);

		.hero-text {
			left: map-get($grid-column-gutter, large);
			// background: blue;

			.home & {
				height: 55%;
				width: 40%;
			}
		}
	}
}



