.shop-list {
	list-style: none;
	margin-left: 0;
	@include block-bottom-padding;
	@extend .clearfix;
}

.shop-item {
	border-bottom: 1px solid $light-gray;
	padding-bottom: 1rem;
	margin-bottom: 1rem;

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.edd_download_image {
		display: block;
		background-color: $black;
		position:relative;
		a {
			display: block;
			opacity:.5;
			@include hover {
				opacity:1;
			}
		}
	}

	@include breakpoint(small only) {
		.edd_download_image {
			margin-bottom: 1.5rem;
			text-align: center;

		}
	}
	@include breakpoint(medium) {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		.edd_download_image {
			margin-top: 7px;
		}
	}
}
.shop-item-image {
	position: relative;
}
.shop-download-terms {

	font-family: $header-font-family;
	text-transform: uppercase;
	font-weight: bold;
	.shop-item-image & {
		background: rgba($orange, .85);
		color: $white;
		padding: .15rem .5rem;
		position: absolute;
		top: 0;
		left: 0;
		// transform: translate(-50%, 0%);
		text-align: center;
		font-size: $small-font-size;
	}
}
.shop-item-title {
	margin: 0;
	font-size: rem-calc(24px);
	font-weight: bold;

	+ .shop-item-subtitle {
		font-size: 1rem;
	}
}

.edd_download_excerpt {
	margin-bottom: 1rem;
}

.shop-item-footer {
	font-family: $header-font-family;
	text-transform: uppercase;
	text-align: center;
	.shop-download-terms a {
		font-weight: bold;
	}
	.edd_download_purchase_form {
		padding: 0;
	}
	.button {
		margin-bottom: 0;
	}
	@include breakpoint(small only) {
		margin-top: 1rem;
	}
}