.shop-list {
	list-style: none;
	margin-left: 0;
	@include block-bottom-padding;
	@extend .clearfix;
}

.shop-item {
	border-bottom: 1px solid $light-gray;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	@include breakpoint(medium) {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}
}

.shop-item-title {
	margin: 0;
	font-size: rem-calc(24px);

	+ .shop-item-subtitle {
		font-size: 1rem;
	}
}

.shop-item-footer {
	font-family: $header-font-family;
	text-transform: uppercase;
	text-align: center;
	.shop-download-terms a {
		font-weight: bold;
	}
	.edd_price {
		line-height: 1;
	}
	.edd_download_purchase_form {
		padding: 0;
	}
	.button {
		margin-bottom: 0;
	}
}