$menu-link-color: $body-font-color;

#masthead #main-menu .top-bar-right .active > a {
    color: $menu-item-color-active;
}

//Both menus
#main-menu,
#utility-menu {
	font-size: $small-font-size;
	font-family: $header-font-family;
	font-weight: bold;
	text-transform: uppercase;

	@media screen and (min-width: 40em) {
		padding: 0 .7rem;

		.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
			padding-right: 2rem;
			&:after {
				right: 1rem;
			}
		}

	}
}

#utility-bar {
	.top-bar, .top-bar ul {
		background: $green;
	}
	.top-bar {
		padding-top: 0;
		padding-bottom: 0;
	}
	a {
		color: $white;
		padding: 0.5rem 0.5rem;
		&:after {
			border-color: $white transparent transparent;
		}
		&:hover, &:focus {
			color: $green-light;
			&:after {
				border-color: $green-light transparent transparent;
			}
		}
	}
	.is-dropdown-submenu,
	.is-accordion-submenu {
		border: 0;
		color: $white;
	}



}

#main-menu {
	.top-bar-left {
		.menu > li > h1 > a {
		    display: block;
		    margin-top: .25rem;
		    padding: 0;
		    // line-height: 1;
		    line-height: rem-calc(80);
		}
		h1 {
			// margin:0;
		}
	}

	.top-bar-right {
		// padding-top: rem-calc(23px);
		a {
			color: $menu-link-color;
			// font-weight: bold;
			// text-transform: uppercase;
			
			&:after {
				border-color: $menu-link-color transparent transparent;
			}
			&:hover, &:focus {
				color: $orange;
				&:after {
					border-color: $orange transparent transparent;
				}
			}
		}
		.active > a {
			color: $white;
			&:after {
				border-color: $white transparent transparent;
			}
		}
		@media screen and (min-width: 40em) {
			> ul > li > a {
				line-height: rem-calc(80);
				white-space: nowrap;
			}
		}
	}
}


.menu-item-social {
	span {
		@include hide-for(medium);
	}
}


@include breakpoint(medium only) {
	#main-menu,
	#utility-menu {
		font-size: 13px;
	}
	#main-menu {
		.top-bar-left {
			.menu > li > h1 > a {
			    line-height: rem-calc(40);
			    margin-top: .35rem;
			}
		}
		.top-bar-right {
			> ul > li > a {
				line-height: rem-calc(40);
			}
		}
		.menu > li > a {
			// padding: 0.7rem 0.25rem;
		}
		.top-bar-left .menu > li > h1 > a {
			width: 55px;
		}
	}	
}