$menu-link-color: $body-font-color;

#masthead #main-menu .top-bar-right .active > a {
    color: $menu-item-color-active;
}

#main-menu {
	font-size: $small-font-size;
	.top-bar-left {
		.menu > li > h1 > a {
		    display: block;
		    margin-top: .25rem;
		    padding: 0;
		    // line-height: 1;
		    line-height: rem-calc(80);
		}
		h1 {
			// margin:0;
		}
	}

	.top-bar-right {
		// padding-top: rem-calc(23px);
		a {
			color: $menu-link-color;
			font-family: $header-font-family;
			font-weight: bold;
			text-transform: uppercase;
			
			&:after {
				border-color: $menu-link-color transparent transparent;
			}
			&:hover {
				color: $orange;
				&:after {
					border-color: $orange transparent transparent;
				}
			}
		}
		.active > a {
			color: $white;
			&:after {
				border-color: $white transparent transparent;
			}
		}
		@media screen and (min-width: 40em) {
			> ul > li > a {
				line-height: rem-calc(80);
				white-space: nowrap;
			}
		}
	}

	@media screen and (min-width: 40em) {
		padding: 0 .7rem;

		.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
			padding-right: 2rem;
			&:after {
				right: 11px;
			}
		}

	}

}


.menu-item-social {
	span {
		@include hide-for(medium);
	}
}
