a {
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    -o-transition-duration:0.4s;	
}

.full-height {
	min-height: 100vh;
}

@import "mixins";
@import "colors";
@import "grid";
@import "fonts";
@import "typography";
@import "utilities";
@import "buttons";
@import "social";