form {
	@include block-bottom-padding;
}

.wpcf7 {
	margin: 2rem 0;
}

fieldset {
	margin-bottom: 1rem;
	#edd_login_form & {
		margin-bottom: 0;
	}
}

legend {
	font-family: $header-font-family;
	text-transform: uppercase;
	font-weight: bold;
}

label {
	font-family: $header-font-family;
	text-transform: uppercase;
	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
		font-family: $body-font-family;
		font-size: 1rem;
	}

	#utility-bar & {
		color: $white;
	}
}

[type='date'] {
	width: auto;
}

.wpcf7-list-item {
	margin-right:1rem;
	// font-size: $small-font-size;
}

.mc4wp-form {
	input[type='text'], input[type='password'], input[type='email'] {
		display: inline-block;
		width: 47%;
	}

	#featured-hero & {
		padding-bottom: 0;

		.newsletter-signup,
		input[type="submit"], input[type="button"] {
			margin-bottom: 0;
		}
		input[type="submit"], input[type="button"] {}
	}
}

.comment-subscription-form {
	margin-bottom: 0;
}

#edd_login_form {
	.edd-lost-password {
		margin-bottom: 0;
	}
	#utility-bar .is-accordion-submenu & {
		padding-top:.5rem;
		padding-left: .5rem;
		padding-right: .5rem;
	}
}

