@mixin hero-text-shadow {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

@mixin section-padding {
	padding: 0 0 1rem;
	@include breakpoint(large) {
		padding: 2rem 0;
	}
}

@mixin block-bottom-padding {
	padding: 0 0 1rem;
	@include breakpoint(large) {
		padding: 0 0 2rem;
	}
}

@mixin button-text($weight:bold) {
	font-family: $header-font-family;
	// font-size: $small-font-size;
	font-weight: $weight;
	text-transform: uppercase;
}

@mixin type-separator {
	margin-left: .5rem;
	&:before {
		content: '|';
		margin-right: .5rem;
	}
}

@mixin rounded($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin responsive-padding($vpadding: 0) {
	padding: $vpadding map-get($grid-column-gutter, small);
	@include breakpoint(medium) {
		padding: $vpadding map-get($grid-column-gutter, medium);
	}
	@include breakpoint(large) {
		padding: $vpadding map-get($grid-column-gutter, large);
	}
}
