// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
	margin: 0;
	// font-size: rem-calc(18);
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: normal;
}

h1 {
	// font-size: 2rem;
	// font-weight: normal;
}

h2 {
	// font-size: 1.25rem;
	// font-weight: 700;
}

p {
	margin-bottom: $paragraph-margin-bottom;

	.blog &:last-child {
		margin-bottom: 0;
	}
}

.entry-title {
	.post-thumbnail + & {
		margin-top: 1rem;
	}
	@include breakpoint(medium) {
		font-size: rem-calc(28px);
	}
	@include breakpoint(large) {
		font-size: rem-calc(40px);
		img + & {
			margin-top: 2rem;
		}
	}
}

.entry-meta,
.entry-footer {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-size: $small-font-size;
	a {
		font-weight: bold;
	}
}

.page-title {
	text-align: center;
	.entry-header &,
	.page-header & {
		margin: 1rem 0 2rem;
	}
	

	em {
		font-style: normal;
		font-family: 'Reenie Beanie';
		text-transform: none;
		font-size: 1.25em;
	}

	#featured-hero & {
		color: $white;
		line-height: 1;
		margin-bottom: 1rem;
		@include hero-text-shadow;

		.home & {
			color: $green;
			text-shadow: none;

			em {
				color:$body-font-color;
			}
		}

		.page-servicios & {
			margin-bottom: 0;
		}
	}

	@include breakpoint(medium) {
		font-size: 2rem;
		
		#featured-hero & {

			.home & {
				font-size: 1.75rem;

				em {
					font-size: 3.5rem;
				}
			}
		}
	}
	@include breakpoint(large) {
		font-size: 3rem;
		margin-bottom: 2rem;

		#featured-hero & {

			.home & {
				font-size: 2.5rem;

				em {
					font-size: 5rem;
				}
			}
		}
	}
}

.page-subtitle {
	
	#featured-hero & {
		color: $white;
		@include hero-text-shadow;

		.page-servicios & {
			font-family: 'Reenie Beanie';
			font-size: 1.25rem;
			@include breakpoint(medium) {
				font-size: 1.75rem;
			}
			@include breakpoint(large) {
				font-size: 2.5rem;
			}

		}
	}
	.page-servicios & {

	}
	@include breakpoint(medium) {
		font-size: 1.25rem;
	}
}