// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
	// font-weight: normal;
}

h2 {
	font-size: 1.25rem;
	// font-weight: 700;
}

.entry-title {
	@include breakpoint(medium) {
		font-size: 2.5rem;
	}
	@include breakpoint(large) {
		font-size: 3.5rem;
	}

	#featured-hero & {
		color: $white;
		@include hero-text-shadow;
	}
}