#colophon {
	background: $green;
	padding: 3rem 0;
	color: transparentize(#000, .7);

	a {
		color: $white;
		&:hover {
			color: transparentize($white, .3);
		} 
	}

	.social-media-icons {
	  list-style: none;
	  margin-left: 0;
	  text-align: center;
	  li {
	    display: inline-block;
	    padding: 0 .5rem;
	  }
	  .social-icon-link {
	    display: block;
	    background-color: $white;
	    color: $orange;
		border-radius: 50%;
		font-size: rem-calc(24px);
		height: rem-calc(44px);
		width: rem-calc(44px);
		line-height: rem-calc(44px);
		text-align: center;

		&:hover {
			color: $white;
			background-color: $orange;
		}

	  }
	}
}
