#content {
	margin: 0;
}

#primary {
	margin: 0;
	padding: 1rem 0;
	@include breakpoint(medium) {
		padding: 2rem 0;
	}
}

.page-section {
	@include section-padding;
}

.post {
	// .blog & {
		padding: 1rem 0;
		// border-bottom: 1px dashed $medium-gray;
		@include breakpoint(large) {
			padding: 2rem 0;
		}
		&:first-of-type {
			padding-top: 0;
		}
	// }
}

.entry-header {
	margin-bottom: 1rem;
}

.entry-meta {
	margin-bottom: 1.25rem;

	.byline + .posted-on {
		display: block;

		@include breakpoint(large) {
			display: inline;
			@include type-separator;
		}
	}
}

.published + .updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	// font-weight: normal;
	// font-size: 1rem;
}

.entry-content {
	
	.single-post & {
		@include breakpoint(medium) {
			padding: .5rem 0;
		}
	}

}

.entry-footer {
	.tags-links + .comments-link {
		display: block;

		@include breakpoint(large) {
			display: inline;
			@include type-separator;
		}
	}
	.comments-link + .edit-link {
		@include type-separator;
	}
}

.nav-links {
	@extend .clearfix;
	.single & {
		@include block-bottom-padding;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.page-navigation {
	text-align: center;
}

