@mixin product-price {
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: 2.25rem;
	line-height: 1.25;
}

#product-header {
	background: $green;
	color: $white;
	.product-image {
		background-size: cover;
		background-position: center;
	}
}
.product-header-container {
	@include section-padding;
	margin: 1rem 20px;
	text-align: left;
	
	.page-title {
		margin-bottom: 0;
		text-align: left;
	}
	.page-subtitle {
		@include button-text('normal');
	}

	.product-intro {
		font-size: 1.25rem;
	}

	.product-buttons form {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	@include breakpoint(medium) {
	}
	@include breakpoint(xlarge) {
		margin-top:0;
		// width: 90%;
	}
	@include breakpoint(xxlarge) {
		// width: 70%;
	}
}

.buy-box {
	background: scale-color($green, $lightness: -15%);
	// border: 1px solid scale-color($green, $lightness: 8%);
	padding: 1rem 1rem .5rem;
	text-align: center;
	.edd_download_purchase_form {
		margin-top:.25rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.buy-box-title {
	font-family: $header-font-family;
	text-transform: uppercase;
	// line-height: 1;
	margin-bottom: 0;
}
.discount-price {
	@include product-price;
}
.buy-box-notes {

}